
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <table class="table table-striped">
    
            <tr>
                <td>Name</td>
              
            </tr>
    
            {%for ca in product%}
            <tr>
                <td>{{ca.product}}</td>
                
                
                >
    
                <td>
                    <a href="{%url 'product-remove' ca.id%}">delete</a>
                   
                    <a href="{%url 'product-detail' ca.id%}">view</a>
                </td>
            </tr>
            {%endfor%}
    
        </table>
    
    
    
    
    </div>
</body>
</html>

